.carousel {
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

/* All slides */
.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transform: translateX(30px) scale(1.02);
  transition: 
    opacity 0.8s ease-in-out,
    transform 0.8s ease-in-out;
  z-index: 0;
}

/* Active slide */
.slide.active {
  opacity: 1;
  transform: translateX(0) scale(1);
  z-index: 10;
}

/* Controls */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  font-size: 26px;
  padding: 12px 16px;
  cursor: pointer;
  z-index: 20;
  border-radius: 50%;
  opacity: 0.6;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav:hover {
  background: rgba(0,0,0,0.7);
}

.prev { left: 15px; }
.next { right: 15px; }
